services:
  app:
    build: .
    ports:
      - "3333:3333"
    volumes:
      - ./:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - mysql
    command: node ace serve --hmr

  mysql:
    image: mysql:8.0
    container_name: aisubpic_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: aisubpic
      MYSQL_USER: adonis
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: