name: Build and Deploy to GHCR

on:
  push:
    branches:
      - main

env:
  # Укажите здесь имя образа (ghcr.io/ваш_ник/ваш_репо)
  # ВАЖНО: Все буквы должны быть строчными (маленькими)!
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/idroid-dev/aisubpic

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Разрешаем загружать пакеты

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # Автоматический секрет GitHub

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /aisubpic
            
            # 1. Скачиваем изменения (в том числе новое имя image в docker-compose)
            git pull origin main

            # 2. Логинимся в GitHub Registry на сервере
            # Используем токен (нужно создать PAT, см. инструкцию ниже)
            # Или просто попробуем скачать, если репо публичный.
            # Но для приватного доступа нужно сделать один шаг руками (см. ниже).
            
            echo "${{ secrets.ENV_FILE_PRODUCTION }}" > .env

            # 3. Скачиваем образ
            # Мы явно указываем полное имя, чтобы docker знал откуда качать
            docker compose pull app

            # 4. Перезапускаем
            docker compose up -d --no-build

            sleep 5
            docker compose exec -T app node ace migration:run --force
            docker image prune -f